## Using _k_-means for Customer Segmentation

Imagine that you have a customer dataset, and you are interested in exploring the behavior of your customers using their historical data.

Customer segmentationÂ is the practice of partitioning a customer base into groups of individuals that have similar characteristics. It is a significant strategy as a business can target these specific groups of customers and effectively allocate marketing resources. For example, one group might contain customers who are high-profit and low-risk, that is, more likely to purchase products, or subscribe to a service. A business task is to retain those customers. Another group might include customers from non-profit organizations, and so on.

#### Install necessary packages

In [4]:
pip install matplotlib==3.1.3

Requirement already satisfied: matplotlib==3.1.3 in /home/mirmdasif/anaconda3/lib/python3.8/site-packages (3.1.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/mirmdasif/anaconda3/lib/python3.8/site-packages (from matplotlib==3.1.3) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /home/mirmdasif/anaconda3/lib/python3.8/site-packages (from matplotlib==3.1.3) (0.10.0)
Requirement already satisfied: numpy>=1.11 in /home/mirmdasif/anaconda3/lib/python3.8/site-packages (from matplotlib==3.1.3) (1.20.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/mirmdasif/anaconda3/lib/python3.8/site-packages (from matplotlib==3.1.3) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /home/mirmdasif/anaconda3/lib/python3.8/site-packages (from matplotlib==3.1.3) (2.8.1)
Requirement already satisfied: six in /home/mirmdasif/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib==3.1.3) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
# notice: installing seaborn might takes a few minutes
!conda install -c anaconda seaborn -y

Collecting package metadata (current_repodata.json): done
Solving environment: \
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/linux-64::anaconda==custom=py38_1
  - defaults/linux-64::astropy==4.2.1=py38h27cfd23_1
  - anaconda/linux-64::_anaconda_depends==2020.07=py38_0
  - defaults/linux-64::matplotlib==3.3.4=py38h06a4308_0
  - anaconda/noarch::seaborn==0.11.0=py_0
  - defaults/linux-64::scikit-image==0.18.1=py38ha9443f7_0
done

## Package Plan ##

  environment location: /home/mirmdasif/anaconda3

  added / updated specs:
    - seaborn


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    scikit-learn-0.23.2        |   py38h0573a6f_0         7.0 MB  anaconda
    ------------------------------------------------------------
                                           Total:         7.0 MB

The following NEW packages will be INSTALLED:

  matplotlib-base    pkgs/main/linux-64::matplotlib-base-3.3.4-py38h62a2d02_0
  scikit-learn       anaconda/linux-64::scikit-learn-0.23.2-py38h0573a6f_0



Downloading and Extracting Packages
scikit-learn-0.23.2  | 7.0 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [6]:
!pip install -U scipy

Requirement already satisfied: scipy in /home/mirmdasif/anaconda3/lib/python3.8/site-packages (1.7.0)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /home/mirmdasif/anaconda3/lib/python3.8/site-packages (from scipy) (1.20.1)

In [7]:
!pip install -U sklearn

Requirement already satisfied: sklearn in /home/mirmdasif/anaconda3/lib/python3.8/site-packages (0.0)
Requirement already satisfied: scikit-learn in /home/mirmdasif/anaconda3/lib/python3.8/site-packages (from sklearn) (0.24.2)
Requirement already satisfied: numpy>=1.13.3 in /home/mirmdasif/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.20.1)
Requirement already satisfied: joblib>=0.11 in /home/mirmdasif/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/mirmdasif/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in /home/mirmdasif/anaconda3/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.7.0)

#### Import necessary librarys

In [9]:
import random # library for random number generation
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes

import matplotlib.pyplot as plt # plotting library
# backend for rendering plots within the browser
%matplotlib inline 

from sklearn.cluster import KMeans 
from sklearn.datasets import make_blobs

print('Libraries imported.')

In /home/mirmdasif/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/mirmdasif/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/mirmdasif/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In /home/mirmdasif/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/mirmdasif/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/mirmdasif/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/mirmdasif/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/mirmdasif/anaconda3/lib/python3.8/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

Libraries imported.

### Downloading Data

Let's download the data and save it as a CSV file called **customer_segmentation.csv**

In [10]:
!wget -q -O 'customer_segmentation.csv' https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/labs/customer_segmentation.csv
print('Data downloaded!')

Data downloaded!

Now that the data is downloaded, let's read it into a _pandas_ dataframe.

In [11]:
customers_df = pd.read_csv('customer_segmentation.csv')
customers_df.head()

,Customer Id,Age,Edu,Years Employed,Income,Card Debt,Other Debt,Defaulted,Address,DebtIncomeRatio
0,1,41,2,6,19,0.124,1.073,0.0,NBA001,6.3
1,2,47,1,26,100,4.582,8.218,0.0,NBA021,12.8
2,3,33,2,10,57,6.111,5.802,1.0,NBA013,20.9
3,4,29,2,4,19,0.681,0.516,0.0,NBA009,6.3
4,5,47,1,31,253,9.308,8.908,0.0,NBA008,7.2

### Pre-processing

As you can see, **Address** in this dataset is a categorical variable. k-means algorithm isn't directly applicable to categorical variables because Euclidean distance function isn't really meaningful for discrete variables. So, lets drop this feature and run clustering.

In [13]:
df = customers_df.drop('Address', axis=1)
df.head()

,Customer Id,Age,Edu,Years Employed,Income,Card Debt,Other Debt,Defaulted,DebtIncomeRatio
0,1,41,2,6,19,0.124,1.073,0.0,6.3
1,2,47,1,26,100,4.582,8.218,0.0,12.8
2,3,33,2,10,57,6.111,5.802,1.0,20.9
3,4,29,2,4,19,0.681,0.516,0.0,6.3
4,5,47,1,31,253,9.308,8.908,0.0,7.2

Now let's normalize the dataset. But why do we need normalization in the first place? Normalization is a statistical method that helps mathematical-based algorithms interpret features with different magnitudes and distributions equally. We use **StandardScaler()** to normalize our dataset.

In [14]:
from sklearn.preprocessing import StandardScaler

X = df.values[:,1:]
X = np.nan_to_num(X)
cluster_dataset = StandardScaler().fit_transform(X)
cluster_dataset

array([[ 0.74291541,  0.31212243, -0.37878978, ..., -0.59048916,
        -0.52379654, -0.57652509],
       [ 1.48949049, -0.76634938,  2.5737211 , ...,  1.51296181,
        -0.52379654,  0.39138677],
       [-0.25251804,  0.31212243,  0.2117124 , ...,  0.80170393,
         1.90913822,  1.59755385],
       ...,
       [-1.24795149,  2.46906604, -1.26454304, ...,  0.03863257,
         1.90913822,  3.45892281],
       [-0.37694723, -0.76634938,  0.50696349, ..., -0.70147601,
        -0.52379654, -1.08281745],
       [ 2.1116364 , -0.76634938,  1.09746566, ...,  0.16463355,
        -0.52379654, -0.2340332 ]])

### Modeling

Let's run our model and group our customers into three clusters.

In [15]:
num_clusters = 3

k_means = KMeans(init="k-means++", n_clusters=num_clusters, n_init=12)
k_means.fit(cluster_dataset)
labels = k_means.labels_

print(labels)

[1 0 2 1 0 0 1 1 1 0 2 1 1 1 2 1 1 1 0 1 1 1 2 0 0 1 1 1 1 1 1 0 2 1 1 1 2
 2 1 0 2 0 1 0 1 0 1 1 1 1 0 0 2 1 2 2 2 1 1 1 0 1 0 0 1 1 1 2 1 2 1 1 1 1
 1 1 1 1 0 1 1 2 0 1 0 1 1 1 2 2 1 1 2 2 1 1 1 1 2 1 2 0 1 2 2 0 1 1 1 1 1
 1 1 2 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 1 1 1 0 1 1 2
 1 1 1 0 2 1 1 1 1 0 2 2 1 0 1 1 1 1 1 1 1 1 0 1 1 2 1 2 1 1 2 0 2 1 1 0 2
 0 1 1 1 1 1 0 1 2 1 1 1 0 0 1 0 1 2 1 1 2 1 0 1 2 1 1 1 1 1 2 2 0 1 1 2 0
 1 1 1 1 0 1 1 2 1 1 1 1 0 1 1 2 0 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 0 2 1 2 1
 1 1 0 1 2 0 2 1 0 1 1 2 1 1 1 1 2 2 2 1 1 1 0 1 1 0 1 0 1 1 0 1 1 1 2 1 1
 2 1 2 0 1 1 1 1 2 1 1 2 2 1 1 1 1 1 1 1 1 2 1 2 0 1 2 1 1 1 2 2 1 1 1 0 2
 1 1 2 1 0 1 1 1 1 1 2 0 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 0 2 1 2 1 1 1 0 0 1
 2 1 0 2 2 1 1 1 2 1 1 1 1 1 0 1 0 1 1 1 1 2 1 2 1 1 1 0 1 1 1 1 2 1 1 2 2
 0 1 1 1 1 1 2 2 1 0 2 0 1 1 2 1 1 0 0 1 2 1 1 0 1 2 1 0 1 1 1 0 1 1 1 1 0
 1 2 1 1 1 1 0 2 1 1 0 1 2 1 1 0 1 0 1 1 1 1 1 1 1 0 0 1 1 0 1 2 1 1 1 2 1
 2 1 1 1 1 1 0 2 2 1 0 1 0 1 1 2 0 1 2 2 2 0 0 2 1 1 2 1 2 2 1 2 0 1 1 2 1
 2 0 2 1 1 2 1 1 2 2 2 1 1 1 0 0 1 1 2 1 1 2 0 1 2 1 1 1 2 1 0 1 0 0 1 0 1
 1 0 1 2 1 1 1 1 2 2 1 0 1 0 1 1 0 1 2 1 2 1 2 2 2 0 2 1 1 1 2 1 1 1 0 1 0
 1 2 2 1 1 1 1 1 1 1 2 0 1 0 1 1 2 1 1 1 2 1 1 2 2 2 2 1 0 1 2 2 1 1 1 1 0
 0 1 2 1 1 0 1 1 0 1 0 1 1 0 2 0 0 0 2 1 1 2 1 0 0 1 1 1 0 2 1 1 1 1 0 1 1
 1 1 1 2 1 1 0 1 1 0 1 1 1 1 1 1 2 0 1 1 2 1 1 1 1 2 1 0 1 1 0 1 1 2 1 2 1
 2 2 1 1 1 0 2 0 1 0 0 1 2 1 0 1 0 1 1 1 1 1 0 1 2 1 1 0 0 1 1 0 1 1 1 1 1
 1 1 1 2 1 1 0 1 1 1 1 1 1 1 2 1 1 1 0 2 0 0 1 1 1 2 1 1 1 2 2 1 2 1 1 1 0
 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 0 2 2 1 2 1 1 1 1 0 2 1 1 1 1 1 0 2 1 1 1 2
 1 1 2 1 1 1 1 1 1 2 2 0 0 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 0]

<h2 id="insights">Insights</h2>

Note that each row in our dataset represents a customer, and therefore, each row is assigned a label.

In [16]:
df["Labels"] = labels
df.head(5)

,Customer Id,Age,Edu,Years Employed,Income,Card Debt,Other Debt,Defaulted,DebtIncomeRatio,Labels
0,1,41,2,6,19,0.124,1.073,0.0,6.3,1
1,2,47,1,26,100,4.582,8.218,0.0,12.8,0
2,3,33,2,10,57,6.111,5.802,1.0,20.9,2
3,4,29,2,4,19,0.681,0.516,0.0,6.3,1
4,5,47,1,31,253,9.308,8.908,0.0,7.2,0

We can easily check the centroid values by averaging the features in each cluster.

In [17]:
df.groupby('Labels').mean()

,Customer Id,Age,Edu,Years Employed,Income,Card Debt,Other Debt,Defaulted,DebtIncomeRatio
Labels,,,,,,,,,
0,424.408163,43.000000,1.931973,17.197279,101.959184,4.220673,7.954483,0.162393,13.915646
1,426.122905,33.817505,1.603352,7.625698,36.143389,0.853128,1.816855,0.000000,7.964991
2,424.451807,31.891566,1.861446,3.963855,31.789157,1.576675,2.843355,0.993939,13.994578

<em>k</em>-means will partition your customers into three groups since we specified the algorithm to generate 3 clusters. The customers in each cluster are similar to each other in terms of the features included in the dataset.

Now we can create a profile for each group, considering the common characteristics of each cluster. 
For example, the 3 clusters can be:

-   OLDER, HIGH INCOME, AND INDEBTED
-   MIDDLE AGED, MIDDLE INCOME, AND FINANCIALLY RESPONSIBLE
-   YOUNG, LOW INCOME, AND INDEBTED

End